body{
    margin: 0px;
    padding: 0px;
    background-color: #f2e7e5;
    font-family: montserrat;
}
.bi-whatsapp,.bi-instagram{
    margin-left: 10px;
    color: purple;
}
.body-text{
    margin-top: 50px;
}
#pic{
    width: 40px;
    border-radius: 90px;
    height: 40px;
    background-color: blue;
}
.header-tag{
    width:190px;
    margin-left: 60px;
    margin-top: -50px;
}
.d-tag{
    margin-left: 230px;
    margin-top: -70px;
    background-color: orangered;
}
.let{
    display: flex;
}
.home{
    width: 120px;
    height: 30px;
    background-color: orangered;
    border: none;
}
.p-tag{
    margin-left: 50px;
    width: 800px;
}
.col-mb{
    display: flex;
    text-align: center;
}
.body{
    margin-top: 90px;
}
.p{
    width: 200px;
}
h2{
    width: 380px;
    /* margin-left: 200px; */
}
span{
    color: orange;
}
.anchor-tag{
    text-decoration: none;
}
.anchor{
    margin-top: 130px;
    font-weight: 500;
}
.tags{
    display: flex;
}
.view{
    width: 170px;
    height: 30px;
    background-color: black;
    border: none;
    color: #fff;
}
.h{
    /* margin-left: 50px; */
    width: 900px;
}
.section{
    text-align: center;
}
.wrapper {
	width: 800px;
	/* min-height: auto; */
	margin-left: -50px;
}
.wrapper ul {
	list-style: none;
	padding: 0;
}

.wrapper ul:after {
	content: '';
	display: table;
	clear: both;
}
.wrapper ul li {
	width: calc(30% - 5px);
	margin: 30px 15px 0;
	height: 130px;
	background-size: cover;
	background-position: center center;
	float: left;
	box-shadow: 0 15px 10px 1px rgba(0, 0, 0, 0.5);
}
.wrapper ul li:nth-child(1n + 4) {
	max-height: 0;
	opacity: 0;
	transition: 0.2s ease-in;
}
.wrapper .btn-area {
	display: block;
	background: #000;
	color: #fff;
	cursor: pointer;
	text-align: center;
	font-weight: 900;
	width: 180px;
	line-height: 50px;
	/* margin: 50px auto 0; */
	border-radius: 50px;
}
.btn1,.btn2{
    color: #fff;
}
.wrapper .btn-area .btn2 {
	display: none;
}
.wrapper #btnBox {
	display: none;
}
.wrapper #btnBox:checked~ul li:nth-child(1n + 4) {
	max-height: 1000px;
	opacity: 1;
	transition: 0.2s ease-in;
}
.wrapper #btnBox:checked~.btn-area .btn2 {
	display: block;
}
.wrapper #btnBox:checked~.btn-area .btn1 {
	display: none;
}

.cool{
    margin-top: 100px;
}
#net{
    height: 300px;
    width: 300px;
}
h3{
    text-align: center;
    margin-top: -60px;
}
#nt{
    height: 100px;
    width: 100px;
    margin-left: -340px;
    margin-top: 250px;
}
#kay{
 margin-top: 80px;

}
.about{
    margin-top: -40px;
    /* text-align: center; */
    margin-left: 30px;
    color: orange;
}